{% extends "base.html" %}

{% block title %}Live Chat{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="chat-header">
        <input type="text" id="username" placeholder="Your name">
    </div>
    
    <div class="chat-messages" id="messages"></div>
    
    <form id="chatForm" class="chat-form">
        <input type="text" id="message" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %} 